@page
@model Bacchus.CustomerWeb.Pages.AuctionNotAvailableModel
@{
}
<div class="text-center">
    <h5>Sorry, the auction you are looking for is no longer available.</h5>
    <a asp-page="./Index" class="btn btn-primary">Back to main page</a>
</div>
